<launch>
    <param name="save_path" type="str" value="/home/in2lab/Data/" />
    <param name="server_IP" type="str" value="127.0.0.1" />
    <param name="image_port" type="int" value="20062" />
    <param name="pointcloud_port" type="int" value="20067" />
    <node name="synchronized_img_receiver" pkg="videoStreamer" type="synchronized_image_receiver.py" output="screen" />
    <node name="synchronized_pcd_receiver" pkg="videoStreamer" type="synchronized_pointcloud_receiver.py" output="screen" />
</launch>